<div id='translations'>
  <h1>Translations</h1>
  <ul>
    <li><%= link_to_unless_current "Application Translations", translations_path(:show => "application") %></li>
    <li><%= link_to_unless_current "Framework Translations", translations_path(:show => "framework") %></li>
    <li><%= link_to_unless_current "All Translations", translations_path(:show => "all") %></li>
  </ul>
  <div class="simple_form">
  <% @keys.each do |key| %>
 
      <h5><%= key %></h5>
      <% if Translator.chosen_locales != nil %>
        <% Translator.chosen_locales.each do |locale| %>
          <%= render :partial => "form", :locals => {:locale => locale, :key => key} %>
        <% end %>
      <% else %>
        <% Translator.locales.each do |locale| %>
          <%= render :partial => "form", :locals => {:locale => locale, :key => key} %>
        <% end %>
      <% end %>
    <% end %>
  
  </div>
  <% unless @total_pages < 2 %>
    <% (1..@total_pages).each do |p| %>
      <%= link_to_unless_current p, translations_path(:show => params[:show], :page => p ) %>
    <% end %>
  <% end %>
</div>

<script type="text/javascript">
  $("a[data-recover]").live("click", function(event) {
    event.preventDefault();
    $("input[type='text']", $(this).parents(".translate_form")).val($(this).attr("data-recover"));
  });
</script>

